<div ng-include class="fadeInOut" src="'/includes/header.html'"></div>

<div class="container margin-container ">
  <div class="row ">

    <!--Fila 1 -->
    <div class="about-fondo col-md-10 col-md-offset-1">
      <div class="col-md-12 ">
        <div class="about-box about-head  ">
          <img class="about-head-img " src="public/img/logo.png"/>
        </div>
      </div>
    </div>

    <!--Fila 2 -->
    <div class="about-fondo col-md-10 col-md-offset-1">

      <section>
        <div class="col-md-7  ">
          <div class="about-box">
            <article class="about-contenido">
              <h3 class="acerca-titulo text-center">¿Quiénes Somos?</h3>
              <p>
                SmartWolf conecta la comunidad local para vender dispositivos móviles de última generación de una manera más fácil y rápida para que cualquier persona pueda acceder a la última tecnología sin mucho problema desde su hogar y desde cualquier
                dispositivo.
                <br/><br/>
                Cada día cientos de personas visitan nuestra tienda en busca de un SmartPhone que valga la pena comprar que se adapte a sus necesidades y gustos, No hay que dejar por fuera la compatibilidad con las apps más populares en el mundo.
                <br/><br/>
                SmartWolf se encarga de seleccionar los mejores dispositivos móviles en la actualidad para que así las personas no pierdan tiempo buscando páginas de comparaciones ni nada de eso, si el dispositivo esta en nuestro stock es porque pertenece a la
                clasificación de los mejores.
              </p>
            </article>
          </div>
        </div>
      </section>

      <div class="col-md-5 col-sm-3 hidden-xs">
        <div class="about-box">
          <img class="about-img" src="public/img/about1.jpg"/>
        </div>
      </div>
      
    </div>

    <!--Fila 3 -->
    <div class="about-fondo col-md-10 col-md-offset-1">

      <div class="col-md-6  hidden-xs">
        <div class="about-box">
          <img class="about-img" src="public/img/about2.jpg"/>
        </div>
      </div>

      <div class="col-md-6 col-sm-4">
        <div class="about-box">

          <article class="about-contenido">
            <h3 class="acerca-titulo text-center">Contacto</h3>
            <p>
              Si tiene algún problema con la compra o alguna duda con respecto a la tienda puede comunicarse con nosotros a través de nuestro e-mail:
            </p>
            <a class="hidden-xs hidden-sm " target="_blank" href="mailto:smartwolf.contacto@smartwolf.soporte.com">
              smartwolf.contacto@smartwolf.soporte.com
            </a>
            <a class="hidden-md hidden-lg" target="_blank" href="mailto:smartwolf.contacto@smartwolf.soporte.com">
              Enviar email
            </a>
          </article>

        </div>
      </div>

    </div>

  </div>
</div>
