<div ng-include class="fadeInOut" src="'/includes/header.html'"></div>


<div class="container margin-container ">
  <div class="row  ">

    <div class="col-md-10 col-md-offset-1">
      <div class="ayuda-box about-head  ">
        <img class="about-head-img " src="public/img/logo.png"/>
      </div>
    </div>

    <section>
      <div class="col-md-10 col-md-offset-1  ">
        <div class="ayuda-box">
          <article class="ayuda-titulo">
            <h2 class="text-center">Ayuda</h2>
          </article>
        </div>
      </div>
    </section>

    <section>
      <div class="col-md-10 col-md-offset-1  ">
        <div class="ayuda-box">
          <article class="ayuda-contenido">
            <h3 class="text-center">Menores de Edad</h3>
            <p>
              Nuestros servicios solo están disponibles para aquellas personas que tengan capacidad legal para contratar. Por lo tanto, aquellos que no cumplan con esta condición deberán abstenerse de suministrar información personal para ser incluida en nuestras
              bases de datos. Sin embargo, pueden hacerlo a través de los padres o tutores.
            </p>
          </article>
          <article class="ayuda-contenido">
            <h3 class="text-center">Seudónimo</h3>
            <p>
              Para interactuar dentro del sitio, los usuarios deben utilizar un seudónimo que los identificará. Los usuarios no tendrán acceso a la información personal de los otros usuarios.
            </p>
          </article>
          <article class="ayuda-contenido">
            <h3 class="text-center">Clave Personal</h3>
            <p>
              Para acceder a los servicios reservados únicamente para los usuarios debidamente inscritos los usuarios dispondrán de una clave personal. Con ella podrán comprar. Esta clave deben mantenerla bajo absoluta confidencialidad y, en ningún caso, deberán
              revelarla o compartirla con otras personas.
              <br/>
              El usuario será responsable de todos los actos que tengan lugar mediante el uso de su Seudónimo y Clave, lo que incluye hacerse cargo del pago de las tarifas que eventualmente se devenguen. Si por cualquier razón un usuario creyera que alguien puede
              conocer su clave, deberá modificarla ingresando su respectivo menú.
            </p>
          </article>
          <article class="ayuda-contenido">
            <h3 class="text-center">Seguridad. Almacenamiento de la información</h3>
            <p>
              SmartWolf está obligado a cumplir con toda la normativa aplicable en materia de medidas de seguridad aplicables a la Información Personal. Adicionalmente, SmartWolf usa los estándares de la industria entre materia de protección de la confidencialidad
              de su Información Personal, incluyendo, en otras medidas, cortafuegos ("firewalls") y Secure Socket Layers ("SSL"). SmartWolf considera a los datos de sus usuarios como un activo que debe ser protegido de cualquier pérdida o acceso no autorizado.
              Empleamos diversas técnicas de seguridad para proteger tales datos de accesos no autorizados por usuarios de dentro o fuera de nuestra compañía. Sin embargo, es necesario tener muy en cuenta que la seguridad perfecta no existe en Internet.
              <br/>
              El usuario conoce, acepta y autoriza expresamente a SmartWolf, a registrar y acceder a los mensajes y correos electrónicos para controlar así la calidad del servicio y prevenir violaciones a las condiciones de contratación o a la ley, para así
              contribuir a la seguridad de las relaciones y comunicaciones en la comunidad.
              <br/>
              Por ello, SmartWolf no se hace responsable por interceptaciones ilegales o violación de sus sistemas o bases de datos por parte de personas no autorizadas. SmartWolf, tampoco se hace responsable por la indebida utilización de la información obtenida
              por esos medios.
              <br/>
              Todos los datos personales de los usuarios serán almacenados en un fichero automatizado de datos personales. El fichero de Datos Personales de los usuarios de SmartWolf reside en Venezuela. El usuario al inscribirse en SmartWolf confirma que está
              informado de la residencia de este fichero y autoriza esta transferencia internacional de sus datos ”En el caso que la persona no sea de Venezuela”.
            </p>
          </article>
        </div>
      </div>
    </section>

  </div>
</div>
