<!-- NABVAR -->
<div ng-include class="fadeInOut" src="'/includes/header.html'"></div>
<!-- CAROUSEL -->
<div ng-include class="fadeInOut" src="'/includes/carousel.html'"></div>
<!-- VISTOS -->
<div class="container-fluid vistosRow">
  <div class="row">
    <div class="vistos col-md-12">
      <h4 class="container ultimos-agregados">Ultimos agregados</h4>
    </div>
  </div>
</div>
<!-- Products thumbnails -->
<div class="container-fluid box">
  <div class="container" ng-controller="DropdownController">
    <div ng-include class="fadeInOut" src="'/includes/thumbnails.html'"></div>
  </div>
</div>
